@Crimson: #DC143C;
@PaleVioletRedw: #DB7093;
* {
//box-sizing: border-box;
-webkit-transition: all 0.5s ease; 
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
}

.page-container {
width:70%;
margin:auto;
}

.page-container table {
margin:auto;
}

.page-container .td-pad {
padding:50px;
}

.page-container .td-pad-splash{
padding:10px;
}

.page-container .td-cell {
padding:2px;
}
.page-container .td-cell-splash {
padding:0px;
}

.page-container .div-cell {
padding-left:5px;
padding-right:5px;
height:50px;
width:50px;
background-color:#eaeaea;
}

.page-container .dark {
background-color:#363636;
}

.page-container .ownByOne {
background-color:#48abe1;
}

.page-container .ownByTwo {
background-color:PaleVioletRed;
}

.page-container .td-pad table, .page-container .td-pad-splash table {
border: 1px solid #D0D0D0;
}

.page-container table .p1 {
border: medium solid #48abe1;
}

.page-container table .p2{
border: medium solid PaleVioletRed;
}

.page-container .playable{
 -webkit-transform: scale(1);
 -moz-transform: scale(1);
 box-shadow: 0px 0px 10px #98FB98;
 -webkit-animation: flashbackground 2s infinite ease;
  -moz-animation: flashbackground 2s infinite ease;
}

.page-container .notplayable {
 -webkit-transform: scale(0.8);
 -moz-transform: scale(0.8);
 opacity: 0.5;
}

@-webkit-keyframes flashbackground{
	0% {
	}
	
	50% {
		box-shadow: 0px 0px 0px #98FB98;
	}
	
	100%{
	}
}

@-moz-keyframes flashbackground{
	0% {
	}
	
	50% {
		box-shadow: 0px 0px 0px #98FB98;
	}
	
	100%{
	}
}

.centerdiv {
	margin: auto;
	
	
}
/*.page-container .notplayable:hover {
 -webkit-transform: scale(1);
 -moz-transform: scale(1);
 opacity: 1;
}*/