@Crimson: #DC143C;
@PaleVioletRedw: #DB7093;
* {
//box-sizing: border-box;
-webkit-transition: all 0.5s ease; 
-moz-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;
font-family: 'Fjalla One', sans-serif;
}

.page-container {
width:70%;
margin:auto;
}

.page-container table {
margin:auto;
}

.page-container .td-pad {
padding:50px;
}

.page-container .td-pad-splash{
padding:10px;
}

.page-container .td-cell {
padding:2px;
}
.page-container .td-cell-splash {
	-webkit-animation: paddingInc 2s 1 ease;
	-moz-animation: paddingInc 2s 1 ease;
	animation: paddingInc 2s 1 ease;
	
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	
}

.page-container .div-cell {
padding-left:5px;
padding-right:5px;
height:50px;
width:50px;
background-color:#eaeaea;
}

.page-container .dark {
background-color:#363636;
}

.page-container .ownByOne {
background-color:#48abe1;
}

.page-container .ownByTwo {
background-color:PaleVioletRed;
}

.page-container .td-pad table, .page-container .td-pad-splash table {
border: 1px solid #D0D0D0;
}

.page-container table .p1 {
border: medium solid #48abe1;
}

.page-container table .p2{
border: medium solid PaleVioletRed;
}

/*Game UI design */
.statusbar {
	background-color: green;
	width:100%;
	height:50px;
	margin: auto;
	
}

div.player1bar{
	background-color: #48abe1;
	width:10%;
	height:50px;
	float: left;
	//border: medium solid #48abe1;
}

div.bar-status{
	width:80%;
	height:50px;
	float: left;
	color: white;
	font-size: larger;
	font-weight: 400;
	text-align: center;
    vertical-align: middle;
   // display: table-cell;
}
div.bar-status h3{
	
	text-align: center;
	vertical-align: middle;
	position: relative;

}

div.player2bar{
	background-color: PaleVioletRed;
	width:10%;
	height:50px;
	float: right;
}

#splashheader {
 //font-family: "Galindo";
// font-family: 'Dosis', sans-serif;
 font-family: 'Fjalla One', sans-serif;
 // font-style: normal;
 // font-weight: 600;
}

#gameheader {
   
    color: #AA55A3;
    text-shadow: 0 0 0 rgba(0,0,0,0.3), 0 0 0 rgba(0,0,0,0.3), 0 0 0 rgba(0,0,0,0.1), 0 0 0 rgba(0,0,0,0.1), 0 -1px 5px rgba(255,255,255,0.5);
    -webkit-transition: all 0.5s;
	
	margin:10px;
	opacity:0.8;
}

#gameheader:hover {
    //color: transparent;
    text-shadow: -9px 0 5px rgba(0,0,0,0.3), 9px 0 5px rgba(0,0,0,0.3), -21px 0 5px rgba(0,0,0,0.1), 21px 0 5px rgba(0,0,0,0.1), 0 0 0 rgba(0,0,0,0.1);
	opacity:1.0;
}

.page-container .btn-group> a:hover{
	margin-right: 20px;
	margin-left: 20px;
	
}

#buttonsdiv, .page-container .btn-group{
	margin-top:20px;
	margin-bottom:20px;
	font-family: 'Fjalla One', sans-serif;
}

#buttonsdiv button, .page-container .btn-group button{
	-moz-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	margin-left:20px;
	margin-right:20px;
}

.page-container .playable, .page-container .splashplayable{
 -webkit-transform: scale(1);
 -moz-transform: scale(1);
 box-shadow: 0px 0px 10px #98FB98;
 -webkit-animation: flashbackground 2s infinite ease;
  -moz-animation: flashbackground 2s infinite ease;
  //background-color: #eaeaea;
}

.page-container .notplayable {
 -webkit-transform: scale(0.8);
 -moz-transform: scale(0.8);
 opacity: 0.5;
}
.page-container .decordiv {

}

.padtable> tr:nth-child(3) {
    //background: #ff0000;
}

/*animation of a single cell 
.padtable :nth-child(1)> td:nth-child(1)> .splashplayable> .celltable> :nth-child(1)> tr:nth-child(1)> td:nth-child(1)>div{

	//-webkit-animation: fadein 1s 1 ease;
	//-moz-animation: fadein 1s 1 ease;
	
    -webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
*/

/*animation of a row in a pad */
.padtable :nth-child(3)> td:nth-child(2)> .splashplayable> .celltable> :nth-child(1)> tr:nth-child(3) div{
	-webkit-animation: fadein 1s 1 ease;
	-moz-animation: fadein 1s 1 ease;
	
    -webkit-animation-delay: 2s;
	-moz-animation-delay: 2s;
	
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.padtable :nth-child(3)> td:nth-child(2)> .splashplayable> .celltable> :nth-child(1)> tr:nth-child(2) div{
	-webkit-animation: fadein 1s 1 ease;
	-moz-animation: fadein 1s 1 ease;
	
    -webkit-animation-delay: 2.3s;
	-moz-animation-delay: 2.3s;
	
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.padtable :nth-child(3)> td:nth-child(2)> .splashplayable> .celltable> :nth-child(1)> tr:nth-child(1) div{
	-webkit-animation: fadein 1s 1 ease;
	-moz-animation: fadein 1s 1 ease;
	
    -webkit-animation-delay: 2.6s;
	-moz-animation-delay: 2.6s;
	
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.padtable :nth-child(2)> td:nth-child(2)> .splashplayable> .celltable> :nth-child(1)> tr:nth-child(3) div{
	-webkit-animation: fadein 1s 1 ease;
	-moz-animation: fadein 1s 1 ease;
	
    -webkit-animation-delay: 2.9s;
	-moz-animation-delay: 2.9s;
	
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.padtable :nth-child(2)> td:nth-child(2)> .splashplayable> .celltable> :nth-child(1)> tr:nth-child(2) div{
	-webkit-animation: fadein 1s 1 ease;
	-moz-animation: fadein 1s 1 ease;
	
    -webkit-animation-delay: 3.2s;
	-moz-animation-delay: 3.2s;
	
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.padtable :nth-child(2)> td:nth-child(2)> .splashplayable> .celltable> :nth-child(1)> tr:nth-child(1) div{
	-webkit-animation: fadein 1s 1 ease;
	-moz-animation: fadein 1s 1 ease;
	
    -webkit-animation-delay: 3.5s;
	-moz-animation-delay: 3.5s;
	
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.padtable :nth-child(1)> td> .splashplayable> .celltable> :nth-child(1)> tr  div{
	-webkit-animation: fadein 1s 1 ease;
	-moz-animation: fadein 1s 1 ease;
	
    -webkit-animation-delay: 3.8s;
	-moz-animation-delay: 3.8s;
	
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}



@-webkit-keyframes paddingInc{
	from{
		padding: 0px;
	}
	to{
		padding: 2px;
	}
}

@-moz-keyframes paddingInc{
	from{
		padding: 0px;
	}
	to{
		padding: 2px;
	}
}

@-webkit-keyframes fadein{
  from{
    background-color: #eaeaea;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
	}
  to{
    background-color: #CB5198;
	opacity: 0.9;
	
	}
}

@-moz-keyframes fadein{
  from{
    background-color: #eaeaea;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
	}
  to{
    background-color: #CB5198;
	opacity: 0.9;
	}
}

@-webkit-keyframes flashbackground{
	0% {
	}
	
	50% {
		box-shadow: 0px 0px 0px #98FB98;
	}
	
	100%{
	}
}

@-moz-keyframes flashbackground{
	0% {
	}
	
	50% {
		box-shadow: 0px 0px 0px #98FB98;
	}
	
	100%{
	}
}

.centerdiv {
	margin: auto;
}



/*.page-container .notplayable:hover {
 -webkit-transform: scale(1);
 -moz-transform: scale(1);
 opacity: 1;
}*/