 <div class="page-container" ng-controller="gameController as gameCtrl" disabled="true";>
		<section class="statusbar"> 
			<div class="player1bar" ng-class="{slide: gameCtrl.turn_1 ===true , shrink: gameCtrl.turn_1 ===false }" ng-hide="gameCtrl.isWinnerDeclared()"></div>
			<div class="bar-status"  ng-class="{win: gameCtrl.isWinnerDeclared()===true}">
				<h3 ng-show="false">Game Started!</h3>
				<h2 ng-show="gameCtrl.isWinnerDeclared()">Player {{gameCtrl.winnerIs}} is the winner!</h2>
			</div>
			<div class="player2bar" ng-class="{slide: gameCtrl.turn_1 ===false, shrink: gameCtrl.turn_1 ===true }" ng-hide="gameCtrl.isWinnerDeclared()"></div>
		</section>
		<h3>Local Mode</h3>
		<table>
			<tr ng-repeat="board_r in gameCtrl.board">
				<td ng-repeat="pad in board_r" class="td-pad">
					<div ng-class="{playable: gameCtrl.playable(pad)===1, notplayable: gameCtrl.playable(pad)===0}">
						<table ng-class="{p1: gameCtrl.checkWin(pad)===1, p2: gameCtrl.checkWin(pad)===-1 }">
							<tr ng-repeat="row in pad">	
								<td ng-repeat="cell in row" class="td-cell">
									<div class="div-cell" 
										ng-class="{dark:hover && cell.ownBy===0 && gameCtrl.playable(pad)===1, ownByOne:cell.ownBy===1, ownByTwo:cell.ownBy===-1}"
										ng-mouseenter="hover = true" 
										ng-mouseleave="hover = false"
										ng-click="gameCtrl.cellOnClick(cell.row, cell.col, 
												  $parent.$parent.$parent.$index, $parent.$parent.$index)">                                                        
									</div>
								</td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
		</table>
		<div class="span7 text-center"> 
			<div class="btn-group">
				<a><button class="btn btn-info" ng-click="gameCtrl.rematch(true)" ng-show="true" > Rematch!</button></a>
				<a href="#/"><button class="btn btn-info" ng-click="gameCtrl.rematch(false)" ng-show="true"> Go Back!</button></a>
				<a><button class="btn btn-info" ng-click="gameCtrl.debug()" ng-show="true"> Debug!</button></a>
			</div>
		</div>
		<div>
			<a href="#/splash" ng-click="gameCtrl.rematch(false)" ng-show="false">Go Back To Main Page</a>
		</div>
    </div>