 <div class="page-container" ng-controller="splashController as splashCtrl" disabled="true";>
	<div class="row text-center splashdiv">
		<div class="row text-center" id="splashheader"><h1 id="gameheader">Tic Tac Toe 9!</h1></div>
		<table class="padtable">
			<tr ng-repeat="board_r in splashCtrl.splashboard">
				<td ng-repeat="pad in board_r" class="td-pad-splash">
					<div class="splashplayable">
						<table class="celltable">
							<tr ng-repeat="row in pad">	
								<td ng-repeat="cell in row" class="td-cell-splash">
									<div class="div-cell" 
										ng-class="{dark:hover}"
										ng-mouseenter="hover = true" 
										ng-mouseleave="hover = false"
										> <div class="decordiv"></div>                                                       
									</div>
								</td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
		</table>
		<div class="row" id="buttonsdiv"> 
			<div class="btn-group">
				<div class="span2"><a href="#/local"><button class="btn btn-info" ng-click="" ng-show="true" > Play Local!</button></a></div>
				<div class="span2 "><a ><button class="btn btn-info" ng-click="newFriendGame()" ng-show="true" > Play with a Friend!</button></a></div>
				<div class="span2 "><a href="#/online"><button class="btn btn-info" ng-click="" ng-show="true"> Online Battle!</button></a></div>
				<div class="span2 "><a href="#/howto"><button class="btn btn-info" ng-click="" ng-show="true" > How to Play!</button></a></div>
			</div>
		</div>
	</div>
</div>