 <div class="page-container" ng-controller="splashController as splashCtrl" disabled="true";>
		<h1>Tic Tac Toe 9!</h1>
		<table>
			<tr ng-repeat="board_r in splashCtrl.splashboard">
				<td ng-repeat="pad in board_r" class="td-pad-splash">
					<div class="splashplayable">
						<table>
							<tr ng-repeat="row in pad">	
								<td ng-repeat="cell in row" class="td-cell-splash">
									<div class="div-cell" 
										ng-class="{dark:hover}"
										ng-mouseenter="hover = true" 
										ng-mouseleave="hover = false"
										>                                                        
									</div>
								</td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
		</table>
		<div > 
			<div style="">
				<a href="#/local"><button class="btn btn-info" ng-click="" ng-show="true" style="margin-left: 46%;"> Play Local!</button></a>
				<a ><button class="btn btn-info" ng-click="newFriendGame()" ng-show="true" style="margin-left: 46%;"> Play with a Friend!</button></a>
				<a href="#/online"><button class="btn btn-info" ng-click="" ng-show="true" style="margin-left: 46%;"> Online Battle!</button></a>
				<a href="#/howto"><button class="btn btn-info" ng-click="" ng-show="true" style="margin-left: 46%;"> How to Play!</button></a>
			</div>
		</div>
    </div>