<!doctype html>
<html lang="en" ng-app="game">
<head>
  <meta charset="utf-8">
  <title>My HTML File</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="gameController as gameCtrl">

	<span ng-repeat="cells in gameCtrl.board">
		<span ng-repeat="cell in cells">	
		<button>{{cell.position}}</button>
		</span><br>
	</span>

</body>
</html>
