<!doctype html>
<html lang="en" ng-app="T9">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>My AngularJS App</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
	<link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
        <!-- Bootstrap core CSS -->
        <link href="css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="css/app.css"/>
	<script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body>
    
    <div class="page-container" disabled="true";>
		<table ng-controller="gameController as gameCtrl">
			<tr ng-repeat="board_r in gameCtrl.board">
				<td ng-repeat="pad in board_r" class="td-pad">
					<div ng-class="{playable: gameCtrl.playable(pad)===1, notplayable: gameCtrl.playable(pad)===0}">
						<table ng-class="{p1: gameCtrl.checkWin(pad)===1, p2: gameCtrl.checkWin(pad)===-1 }">
							<tr ng-repeat="row in pad">	
								<td ng-repeat="cell in row" class="td-cell">
									<div class="div-cell" 
										ng-class="{dark:hover && cell.ownBy===0, ownByOne:cell.ownBy===1, ownByTwo:cell.ownBy===-1}"
										ng-mouseenter="hover = true" 
										ng-mouseleave="hover = false"
										ng-click="gameCtrl.cellOnClick(pad, cell.row, cell.col, 
												  $parent.$parent.$parent.$index, $parent.$parent.$index)">                                                        
									</div>
								</td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
		</table>
    </div>
    

	<script src="bower_components/angular/angular.js"></script>
        <script src="js/vendor/jquery-1.10.1.min.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
        <script src="js/vendor/bootstrap.min.js"></script>
	<script src="js/app.js"></script>
	<script src="js/services.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/directives.js"></script>
</body>
</html>
